<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" class="aos-init aos-animate">Welcome to the Member Management App</h1>
          <h2 data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">We can create groups to write and share various notes</h2>
          <div data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate">
            <div class="text-center text-lg-start">
              <%= link_to signup_path, class: "btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" do %>
                <span>Sign up now</span>
                <i class="fa-solid fa-arrow-right"></i>
              </a>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>
