<h1>Habit man</h1>

<h3>Notification from <%= @group.name %></h3>

<h6>Title: </h6>
<p><%= @notification.title %></p>

<h6>Date: </h6>
<p><%= @notification.memo_date %></p>

<h6>From: </h6>
<p><%= @notification.user.name %></p>
