<h1>Habit man</h1>

<p>Notification from</p> <h3><%= @group.name %></h3>

<h3>Title: </h3>
<p><%= @notification.title %></p>

<h3>Date: </h3>
<p><%= @notification.memo_date %></p>

<h3>From: </h3>
<p><%= @notification.user.name %></p>
