<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light"><%= @group.name %></div>
  <div class="list-group list-group-flush">
      <%= link_to @group, class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
        <i class="fa-solid fa-house"></i>
        Home
      <% end %>
      <%= link_to group_member_path(@group), class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
        <i class="fa-solid fa-users"></i>
        Members
      <% end %>
      <%= link_to "#", class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
        <i class="fa-solid fa-gear"></i>
        Settings
      <% end %>
  </div>
</div>
