<div class="boxAsideSection">
  <!-- タイムライン -->
  <div class="separation timeline">
    <%= link_to @group, class: "text-decoration-none" do %>
      <div class="content-header link active">
        <h6 class="heading">
          <i class="fa-solid fa-timeline" style="margin-right: 8px;"></i>
          <span class="heading-name">タイムライン</span>
        </h6>
      </div>
    <% end %>
  </div>

  <!-- サイトから -->
  <div class="separation fromsite">
    <div class="content-header collapsable">
      <h6 class="heading">
        <i class="fa-solid fa-bullhorn" style="margin-right: 8px;"></i>
        <span class="heading-name">サイトから</span>
      </h6>
    </div>
    <div class="content">
      <ul class="menu">
        <li class="inactive">
          <%= link_to group_calendar_path(@group), class: "menu-item text-decoration-none text-black" do %>
            <span class="text">カレンダー</span>
          <% end %>
        </li>
        <li class="inactive">
          <%= link_to group_member_path(@group), class: "menu-item text-decoration-none text-black" do %>
            <span class="text">メンバー</span>
          <% end %>
        </li>
        <li class="inactive">
          <% if @group.owner_id == current_user.id %>
            <%= link_to edit_group_path(@group), class: "menu-item text-decoration-none text-black" do %>
              <span class="text">グループ設定</span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>



