<% provide(:title, "calendar") %>

<div id="groupContainer" class="groupPage" style="margin-top: 51px;">
  <!-- Sidebar -->
  <div id="groupAside">
    <%= render "groups/sidebar" %>
  </div>

  <!-- Main -->
  <div id="main" class="groupPage" style="padding-left: 320px;">
    <div class="unitSection unit_calendar">
      <div class="unitContent">
        <%= month_calendar do |date| %>
          <% # その日のメモの一覧に飛ぶ %>
          <%= link_to date.day, group_memos_path(@group, memo_date: date) %><br>
          <% if @memos.where(memo_date: date).count > 0 %>
            <%= @memos.where(memo_date: date).count %> subject
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

