<% provide(:title, @group.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @group.name %>
      </h1>
    </section>
  </aside>
  <%= month_calendar do |date| %>
    <% # その日のメモの一覧に飛ぶ %>
    <%= link_to date, group_memos_path(@group, memo_date: date) %>
  <% end %>
</div>
