<% provide(:title, @group.name) %>

<div class="row">
  <div class="col-md-3">
    <%= render "groups/sidebar" %>
  </div>
  <div class="col-md-9">
    <%= month_calendar do |date| %>
      <% # その日のメモの一覧に飛ぶ %>
      <%= link_to date, group_memos_path(@group, memo_date: date) %><br>
      <% if @memos.where(memo_date: date).count > 0 %>
        <%= "show more" %>
      <% end %>
    <% end %>
  </div>
</div>

