<div class="input-group">
  <%= form_with(url: group_archives_path, method: :get, class: "form-control") do |f| %>
    <%= f.text_field :key_word, placeholder: "データを絞り込む", size: 60 %>
    <%= button_tag type: "submit", class: "btn btn-outline-success" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>
