<% provide(:title, "memos edit") %>

<div class="row" id="wrapper">
  <!-- Sidebar -->
  <div class="col-md-2">
    <%= render "groups/sidebar" %>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper" class="container-fluid col-md-10">
      <!-- Page content-->
      <div class="container-fluid">
        memo edit
      </div>
  </div>
</div>




